* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "seoge-UI";
  src: url(./fonts/SEGOEUI.TTF);
}

@font-face {
  font-family: "Gilroy";
  src: url(./fonts/Gilroy-Light.otf);
}

@font-face {
  font-family: "twitterchirp";
  src: url(./fonts/twitterchirp.otf);
}

@font-face {
  font-family: "jost-bold";
  src: url(./fonts/jost.bold.otf);
}

@font-face {
  font-family: "jost-medium";
  src: url(./fonts/jost.medium.otf);
}

@font-face {
  font-family: "jost-book";
  src: url(./fonts/jost.book.otf);
}

@font-face {
  font-family: "jost-light";
  src: url(./fonts/jost.light.otf);
}
@font-face {
  font-family: "poppins-regular";
  src: url(./fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(./fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(./fonts/Poppins-Medium.ttf);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
